# Simple functions and computations

In [15]:
%run 03_01_creategeo.ipynb

In [16]:
gdf

   geo_name                                           geometry
0     point                                        POINT (0 0)
1    circle  POLYGON ((1.5 1, 1.49759 0.95099, 1.49039 0.90...
2      line                       LINESTRING (2 2, 3.5 4, 7 5)
3    square                POLYGON ((3 0, 3 1, 4 1, 4 0, 3 0))
4  triangle           POLYGON ((2 3.5, 3.5 5.5, 7 6.5, 2 3.5))

In [17]:
gdf['geometry_type'] = gdf['geometry'].apply(lambda x: type(x).__name__)
gdf

   geo_name                                           geometry geometry_type
0     point                                        POINT (0 0)         Point
1    circle  POLYGON ((1.5 1, 1.49759 0.95099, 1.49039 0.90...       Polygon
2      line                       LINESTRING (2 2, 3.5 4, 7 5)    LineString
3    square                POLYGON ((3 0, 3 1, 4 1, 4 0, 3 0))       Polygon
4  triangle           POLYGON ((2 3.5, 3.5 5.5, 7 6.5, 2 3.5))       Polygon

In [18]:
gdf['geometry_buffered'] = gdf['geometry'].apply(lambda x: x.buffer(0.5))
gdf

,geo_name,geometry,geometry_type,geometry_buffered
0,point,POINT (0 0),Point,"POLYGON ((0.5 0, 0.49759 -0.04901, 0.49039 -0...."
1,circle,"POLYGON ((1.5 1, 1.49759 0.95099, 1.49039 0.90...",Polygon,"POLYGON ((1.9994 1.02453, 1.9994 0.97547, 1.99..."
2,line,"LINESTRING (2 2, 3.5 4, 7 5)",LineString,"POLYGON ((3.1 4.3, 3.12949 4.33574, 3.16217 4...."
3,square,"POLYGON ((3 0, 3 1, 4 1, 4 0, 3 0))",Polygon,"POLYGON ((3 -0.5, 2.95099 -0.49759, 2.90245 -0..."
4,triangle,"POLYGON ((2 3.5, 3.5 5.5, 7 6.5, 2 3.5))",Polygon,"POLYGON ((2.25725 3.07125, 2.21389 3.04806, 2...."

In [19]:
gdf['geometry_length'] = [g.length for g in gdf['geometry'].to_list()]
gdf['geometry_area'] = [g.area for g in gdf['geometry'].to_list()]

gdf

,geo_name,geometry,geometry_type,geometry_buffered,geometry_length,geometry_area
0,point,POINT (0 0),Point,"POLYGON ((0.5 0, 0.49759 -0.04901, 0.49039 -0....",0.000000,0.000000
1,circle,"POLYGON ((1.5 1, 1.49759 0.95099, 1.49039 0.90...",Polygon,"POLYGON ((1.9994 1.02453, 1.9994 0.97547, 1.99...",3.140331,0.784137
2,line,"LINESTRING (2 2, 3.5 4, 7 5)",LineString,"POLYGON ((3.1 4.3, 3.12949 4.33574, 3.16217 4....",6.140055,0.000000
3,square,"POLYGON ((3 0, 3 1, 4 1, 4 0, 3 0))",Polygon,"POLYGON ((3 -0.5, 2.95099 -0.49759, 2.90245 -0...",4.000000,1.000000
4,triangle,"POLYGON ((2 3.5, 3.5 5.5, 7 6.5, 2 3.5))",Polygon,"POLYGON ((2.25725 3.07125, 2.21389 3.04806, 2....",11.971007,2.750000