# Onboarding to GeoPandas

In [1]:
! where python

C:\Users\infan\Documents\virtualenvs\geo_data_science\Scripts\python.exe
C:\Users\infan\AppData\Local\Programs\Python\Python39\python.exe
C:\OSGeo4W\bin\python.exe

In [7]:
import geopandas as gpd
from geodatasets import get_path

In [8]:
gpd.__version__

'1.0.1'

In [9]:
gpd.datasets.available

[]

In [10]:
nybb_file = get_path('nybb')

Downloading file 'nybb_16a.zip' from 'https://www.nyc.gov/assets/planning/download/zip/data-maps/open-data/nybb_16a.zip' to 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache'.
Extracting 'nybb_16a/nybb.shp' from 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip' to 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip.unzip'
Extracting 'nybb_16a/nybb.shx' from 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip' to 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip.unzip'
Extracting 'nybb_16a/nybb.dbf' from 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip' to 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip.unzip'
Extracting 'nybb_16a/nybb.prj' from 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip' to 'C:\Users\infan\AppData\Local\geodatasets\geodatasets\Cache\nybb_16a.zip.unzip'

In [12]:
nybb = gpd.read_file(nybb_file)

In [13]:
print(type(nybb))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [14]:
nybb

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,5,Staten Island,330470.010332,1.623820e+09,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
1,4,Queens,896344.047763,3.045213e+09,"MULTIPOLYGON (((1029606.077 156073.814, 102957..."
2,3,Brooklyn,741080.523166,1.937479e+09,"MULTIPOLYGON (((1021176.479 151374.797, 102100..."
3,1,Manhattan,359299.096471,6.364715e+08,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
4,2,Bronx,464392.991824,1.186925e+09,"MULTIPOLYGON (((1012821.806 229228.265, 101278..."

In [15]:
nybb.head(2)

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,5,Staten Island,330470.010332,1.623820e+09,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
1,4,Queens,896344.047763,3.045213e+09,"MULTIPOLYGON (((1029606.077 156073.814, 102957..."

In [16]:
nybb.tail(2)

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
3,1,Manhattan,359299.096471,6.364715e+08,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
4,2,Bronx,464392.991824,1.186925e+09,"MULTIPOLYGON (((1012821.806 229228.265, 101278..."

In [17]:
nybb.keys()

Index(['BoroCode', 'BoroName', 'Shape_Leng', 'Shape_Area', 'geometry'], dtype='object')

In [18]:
len(nybb)

5

In [19]:
print(type(nybb['geometry']))

<class 'geopandas.geoseries.GeoSeries'>