# Simple functions and computations

In [2]:
gdf

   geo_name                                           geometry
0     point                            POINT (0.00000 0.00000)
1    circle  POLYGON ((1.50000 1.00000, 1.49759 0.95099, 1....
2      line  LINESTRING (2.00000 2.00000, 3.50000 4.00000, ...
3    square  POLYGON ((3.00000 0.00000, 3.00000 1.00000, 4....
4  triangle  POLYGON ((2.00000 3.50000, 3.50000 5.50000, 7....

In [3]:
gdf['geometry_type'] = gdf['geometry'].apply(lambda x: type(x).__name__)
gdf

   geo_name                                           geometry geometry_type
0     point                            POINT (0.00000 0.00000)         Point
1    circle  POLYGON ((1.50000 1.00000, 1.49759 0.95099, 1....       Polygon
2      line  LINESTRING (2.00000 2.00000, 3.50000 4.00000, ...    LineString
3    square  POLYGON ((3.00000 0.00000, 3.00000 1.00000, 4....       Polygon
4  triangle  POLYGON ((2.00000 3.50000, 3.50000 5.50000, 7....       Polygon

In [4]:
gdf['geometry_buffered'] = gdf['geometry'].apply(lambda x: x.buffer(0.5))
gdf

,geo_name,geometry,geometry_type,geometry_buffered
0,point,POINT (0.00000 0.00000),Point,"POLYGON ((0.50000 0.00000, 0.49759 -0.04901, 0..."
1,circle,"POLYGON ((1.50000 1.00000, 1.49759 0.95099, 1....",Polygon,"POLYGON ((1.99940 1.02453, 1.99940 0.97547, 1...."
2,line,"LINESTRING (2.00000 2.00000, 3.50000 4.00000, ...",LineString,"POLYGON ((3.10000 4.30000, 3.12949 4.33574, 3...."
3,square,"POLYGON ((3.00000 0.00000, 3.00000 1.00000, 4....",Polygon,"POLYGON ((3.00000 -0.50000, 2.95099 -0.49759, ..."
4,triangle,"POLYGON ((2.00000 3.50000, 3.50000 5.50000, 7....",Polygon,"POLYGON ((2.25725 3.07125, 2.21389 3.04806, 2...."

In [5]:
gdf['geometry_length'] = [g.length for g in gdf['geometry'].to_list()]
gdf['geometry_area'] = [g.area for g in gdf['geometry'].to_list()]

gdf

,geo_name,geometry,geometry_type,geometry_buffered,geometry_length,geometry_area
0,point,POINT (0.00000 0.00000),Point,"POLYGON ((0.50000 0.00000, 0.49759 -0.04901, 0...",0.000000,0.000000
1,circle,"POLYGON ((1.50000 1.00000, 1.49759 0.95099, 1....",Polygon,"POLYGON ((1.99940 1.02453, 1.99940 0.97547, 1....",3.140331,0.784137
2,line,"LINESTRING (2.00000 2.00000, 3.50000 4.00000, ...",LineString,"POLYGON ((3.10000 4.30000, 3.12949 4.33574, 3....",6.140055,0.000000
3,square,"POLYGON ((3.00000 0.00000, 3.00000 1.00000, 4....",Polygon,"POLYGON ((3.00000 -0.50000, 2.95099 -0.49759, ...",4.000000,1.000000
4,triangle,"POLYGON ((2.00000 3.50000, 3.50000 5.50000, 7....",Polygon,"POLYGON ((2.25725 3.07125, 2.21389 3.04806, 2....",11.971007,2.750000